@using Microsoft.AspNetCore.Mvc.Localization
@using Kot.Models.Home

@inject IViewLocalizer Localizer
@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}


<h1 class="main-title">Trela <span class="thin">Agnieszka</span></h1>